.cajaproduct{
	background: #fee;
}

.cajaproduct > ul{
	list-style: none;
}

.producto{
	display: flex;
	float: left;
}

.cada {
    position:relative;
	margin: 5px;
	background: #8ec4ae;
	width: 300px;
	height: 200px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	
}
